name: API Docker Build

on:
  push:
    branches: [master]

jobs:
  postlude-api-build:
    runs-on: ubuntu-latest
    steps:
    - name: Source Code Checkout
      uses: actions/checkout@master
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_PAT }}
    - name: Build and Push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./build/Dockerfile
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/postlude-api:prod
