name: API Docker Build

on:
  push:
    branches: [develop]

jobs:
  postlude-api-build:
    runs-on: ubuntu-latest
    steps:
    - name: Source Code Checkout
      uses: actions/checkout@master
      with:
        ref: develop
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Build and Push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: public.ecr.aws/l0r5x0q9/postlude/postlude-api:develop
